node_modules/
package-lock.json

.env
.env.local
.env.*.local

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
*.swp
*.swo
*~

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

tmp/
temp/
*.tmp

desktop/dist/
desktop/node_modules/
desktop/package-lock.json
desktop/src/

desktop/.cache/
desktop/build/

X.ico
X.png